# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.swp
*.swo
*.bak
*.tmp
*.log

# Virtual environment
venv/
env/
ENV/
.venv/

# Django
*.sqlite3
db.sqlite3
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
media/
staticfiles/
.DS_Store

# Pytest
.pytest_cache/

# VS Code
.vscode/
